Repository travelmakers/travelmakers-nextjs-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --cache, prettier --write, yarn stylelint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "yarn lint --cache",
    "prettier --write"
  ],
  "*.scss": [
    "yarn stylelint"
  ]
}

build: next.js 버전 업그레이드 (14.0 -> 14.1)
  .pnp.cjs
  components/basic/Image/index.tsx
  package.json
  yarn.lock
Due: yarn lint --cache, prettier --write

feat(store): store 사용방법 변경
  app/test/hooks/useMainCharacterViewModel.ts
  app/test/stores/useUserInfoStore.ts
  stores/useUserInfoStore.ts
Due: yarn lint --cache, prettier --write

feat(auth): 로그인 session 가져오는 방법에 대해서 예제 변경
  api/domains/auth.ts
  api/queries/auth.ts
  api/route/index.tsx
  api/route/route.ts
  api/route/types/auth.ts
  api/route/types/index.ts
  app/auth/signin/hooks/useMainCharacterViewModel.ts
  app/auth/signin/page.tsx
  app/auth/signin/view.tsx
  app/test/hooks/useMainCharacterViewModel.ts
  app/test/stores/useUserInfoStore.ts
  stores/useUserInfoStore.ts
  styles/global.scss
  styles/mixin/index.scss
Due: yarn lint --cache, prettier --write, yarn stylelint

feat(session): session에 update 함수 추가
  api/fetch.ts
  app/auth/signin/view.tsx
  utils/session/getUserClientSession.ts
  utils/session/useClientSession.ts
Due: yarn lint --cache, prettier --write

feat(middleware): 로그인 필수 여부 체크 로직 추가
  constants/pathname.ts
  middleware.ts
  utils/session/useClientSession.ts
Due: yarn lint --cache, prettier --write

feat(auth): data fetching 방법에 대한 예제 코드 추가
  app/auth/signin/page.tsx
  app/auth/signin/view.tsx
Due: yarn lint --cache, prettier --write

feat: add a dockerfile
  .pnp.cjs
  .pnp.loader.mjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/releases/yarn-4.1.0.cjs
  .yarnrc.yml
  Dockerfile
  docker-compose.yml
  package.json
  yarn.lock
Due: none

feat: package 버전 안정화
  .pnp.cjs
  package.json
  yarn.lock
Due: none

fix: eslint 충돌 해결
  .eslintrc.json
Due: none
